
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(45deg, #191883 0%, #1e82d4 100%);
  background-attachment: fixed;
  
}
@keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
.wrappers{
  display: flex;
  font-size: calc(18px + 0.2vw);
  position: absolute;
  top: 12vh;
  left: 50%;
  transform: translate(-50%);
  color:rgba(253, 253, 253, 0.85);
  text-align: center;
  font-weight: 300;
  justify-content: center;
  flex-direction: column;
}
.button { 
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0a387e;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

a{
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  cursor: default;
  font-size: calc(25px + 2.5vw);
  font-weight: 400;
  background: -webkit-linear-gradient(30deg,#00ddc0, #ee96ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip:text;
  white-space: nowrap;
  position: relative;
  
}

.desc{
  cursor: default;
  font-size: calc(15px + 1.4vw);
  font-weight: 200;
  color :white;
  position: relative;
  justify-content: center;
  text-align: center;
  top:10px;  
  white-space: nowrap;
  font-style: italic;
}
.btn{
  font-size: calc(18px + 0.5vw);
  font-weight: 300;
  color :rgb(0, 0, 0);
  position: relative;
  
  top:30px;
  width: 240px;
  margin: auto;
  white-space: nowrap;
  background-color: white;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 400px;
  transition: all 0.2s ease-out;
 
}
.btn:hover{
  cursor: pointer;
  background-color: #dbe6ff;
  transition: all 0.2s ease-out;
}
.wrapper{
  display: flex;
  gap: 1vw;
  font-size: calc(18px + 0.2vw);
  position: relative;
  top: 100px;
  width: 200px;
  left: 50%;
  transform: translate(-50%);
  color:rgba(253, 253, 253, 0.85);
  text-align: center;
  font-weight: 300;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .wrapper{
    flex-direction: column;
    font-size: calc(18px + 0.5vw);
    gap: 2vw;
  }
  
}
@media only screen and (max-height: 620px) {
  .wrapper{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}

.item{
transition: all 0.2s ease-out;
width: auto;
height: auto;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 500px;
border: 2px solid white;
}
.item:hover{
  color:white;
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s ease-out;
}

.img{
  padding-right: 5px;
  width: 34px;
}
